<table bgcolor="#019645" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
	<td style="padding: 20px;">

<table align="center" border="0" cellpadding="0" cellspacing="0" style="min-width:235px;">
  <tr>
    <td align="center" valign="top">
      <img style="display:block; width: 320px;" border="0" src="https://arcdn.net/ActionRocket/Blog-article/gifs-in-email/thankyou.gif" width="320" alt="Thank You!">
    </td>
  </tr>
</table>
<!-- <div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
</div> -->
<!-- <!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class=content>
      <div class="wrapper-1">
        <div class="wrapper-2">
          <h1>Спасибо !</h1>
          <p>Thanks for subscribing to our news letter.  </p>
          <p>you should receive a confirmation email soon  </p>
          <button class="go-home">
          go home
          </button>
        </div>
        <div class="footer-like">
          <p>Email not received?
           <a href="#">Click here to send again</a>
          </p>
        </div>
      </div>
    </div>

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
  </body>
</html> -->
